@use "../../../presets" as *;
@use "../../../mixins" as *;

.item-post {
    transition: background-color 0.5s;
    background-color: lighten($color-gray-light, 5%);

    &__title {
        font-size: 1.125rem;
        letter-spacing: 0.05em;
        line-height: 1.153em;
        font-weight: 700;
        font-family: $font-header;
        color: $color-gray;
    }
    &__text {
        font-size: 1rem;
        line-height: 1.151em;
        color: $color-gray;
        font-weight: 400;
        font-family: $font-main;
    }
    &__image {
        display: flex;
        overflow: hidden;
        justify-content: center;

        background-color: $color-primary;

        .item-post__img {
            width: 100%;

            transition: transform 0.5s;
            object-fit: cover;
        }
    }
    &:hover {
        background-color: darken($color-gray-light, 5%);

        .item-post__image img {
            transform: scale(1.1);
        }
        .item-post__title {
            color: $color-primary;
        }
        .item-post__text {
            color: $color-primary;
        }
    }
    &__link {
        display: grid;
        overflow: hidden;

        height: 100%;

        grid-template-rows: 300px 1fr;
    }
    &__content {
        display: grid;
        align-content: center;

        padding: $gap;

        .item-post__title {
            transition: color 0.5s;
            text-align: center;

            font-family: $font-header;
        }

        .item-post__text {
            transition: color 0.5s;
            text-align: center;
        }
    }
}

.-ln-hd-4 {
    line-height: 1.16em;
}

.-ln-hd-5 {
    margin-top: 15.2px;
    line-height: 1.145em;
}

.item-post__span {
    display: block;
    margin-bottom: 0.8px;
}

@for $i from 1 through 6 {
    .item-post:nth-of-type(#{$i}) {
        grid-area: a#{$i};
    }
}

