@use "../../../presets" as *;
@use "../../../mixins" as *;

.posts {
    padding-top: 66px;
    padding-bottom: 100px;

    @include lg {
        padding-top: 60px;
        padding-bottom: 80px;
    }
    @include md {
        padding-bottom: 60px;
    }
    
    &__container {
        @extend %container;
    }
    &__title {
        font-size: 2.5rem;
        letter-spacing: 0.1em;
        line-height: 1.2em;
        color: $color-primary;
        font-weight: 700;
        font-family: $font-header;
        margin-bottom: 48px;

        @include lg-md {
            font-size: 2rem;
        }
        @include md {
            font-size: 1.5rem;
            margin-bottom: 40px;
        }
        @include sm {
            text-align: center;
        }
    }
    &__holder {
        display: grid;

        padding-bottom: $gap;
        gap: $gap;
    
        @include lg-min {
            grid-template-areas: "a1 a1 a2 a3" 
                                 "a4 a5 a6 a6";
            grid-template-columns: repeat(4, 1fr);
        }
        @include lg-md {
            grid-template-areas: "a1 a1 a2" 
                                 "a3 a4 a4" 
                                 "a5 a5 a6";
            grid-template-columns: repeat(3, 1fr);
        }
        @include md-sm {
            grid-template-areas: "a1 a2" 
                                 "a3 a4" 
                                 "a5 a6";
            grid-template-columns: 1fr 1fr;
        }
        @include sm {
            grid-template-areas: "a1" 
                                 "a2" 
                                 "a3" 
                                 "a4" 
                                 "a5" 
                                 "a6";
        }
    }
    &__buttons {
        display: flex;
        justify-content: center;
    }
}